<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>PicShare Sign Up</title>
	<link rel="stylesheet" type="text/css" href="css/sign.css">
</head>

<body>
	<div class="sign">
		<div class="logo">
			<!-- 返回主页 -->
			<a target="_self" href="">
				<img src="images/PicShare.png">
			</a>
		</div>

		<div class="main">
			<h4 class="title">
				<div id="aSign">
					<a href="signIn">登录</a>
					<b>·</b>
					<a class="active" href="signUp">注册</a>
				</div>
                <div id="aShowID" style="display: none">
                    <a class="active">你的帐号</a>
                </div>
			</h4>

			<div>
				<form role="form" id="signUpForm" accept-charset="utf-8" method="post" onsubmit="return false">
					<!-- 昵称 -->
                    <input class="input_prepend input_up_prepend" placeholder="请输入昵称"
                           type="text" name="userName" id="userName" required/>

					<!-- 手机号 -->
                    <input class="input_prepend input_middle_prepend" placeholder="请输入邮箱"
                           type="email" name="userEmail" id="userEmail" required/>

					<!-- 登录密码输入框 -->
                    <input class="input_prepend input_middle_prepend" placeholder="请输入密码"
                           type="password" name="userPassword" id="userPassword" required/>
                    <input class="input_prepend input_down_prepend" placeholder="请再次输入密码"
                           type="password" name="userPasswordAgain" id="userPasswordAgain" required/>

					<!-- 注册 -->
					<input class="sign_button" type="submit" id="signUpSubmit" name="signUpSubmit" value="注册"/>
				</form>
                <div id="showIDDiv" style="display: none">
                    <input class="input_prepend" style="margin-bottom: 50px;padding: 0;text-align: center;"
                           type="text" id="userIDShow" readonly />
                    <a href="signIn">
                        <input type="submit" id="goToSignIn" value="已铭记账号" class="sign_button"/>
                    </a>
                </div>
			</div>
		</div>
	</div>

    <script src="js/other/md5.min.js"></script>
    <script src="js/jquery/3.2.1/jquery.min.js"></script>

    <!-- 按钮动作监听 -->
    <script>
        $("#signUpSubmit").click(function () {
            var nameReady = true;
            var emailReady = true;
            var passwordReady = true;

            var emailReg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+.([a-z])+$/;
            var userName = $("#userName").val().toString();
            var userEmail = $("#userEmail").val().toString();
            var userPassword = $("#userPassword").val().toString();
            var userPasswordAgain = $("#userPasswordAgain").val().toString();

            if( userName===undefined || userName.length===0 ){
                $("#userName").css("border","1px solid red");
                nameReady = false;
            }
            else {
                $("#userName").css("border","1px solid #c8c8c8");
                nameReady = true;
            }
            if( userEmail===undefined || userEmail.length===0 || !emailReg.test(userEmail) ){
                $("#userEmail").css("border","1px solid red");
                emailReady = false;
            }
            else {
                $("#userEmail").css("border","1px solid #c8c8c8");
                emailReady = true;
            }
            if( (userPassword.length===0) ||(userPassword !== userPasswordAgain) ){
                $("#userPassword").css("border","1px solid red");
                $("#userPasswordAgain").css("border","1px solid red");
                passwordReady = false;
            }
            else {
                $("#userPassword").css("border","1px solid #c8c8c8");
                $("#userPasswordAgain").css("border","1px solid #c8c8c8");
                passwordReady = true;
            }
            if( passwordReady && emailReady && nameReady ){

                var passwordHash = md5(userPassword);

                var data = {"userName":userName, "userEmail":userEmail, "userPassword":passwordHash};
                $.post('signUp', data, function (res) {
                    var result = $.parseJSON( res );
                    if( result.status ){
                        $("#aSign").hide();
                        $("#signUpForm").hide();
                        $("#aShowID").show();
                        $("#showIDDiv").show();
                        $("#userIDShow").val(result.userID);
                    }
                });
            }
        });
	</script>
</body>

</html>
