<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>PicShare</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/index/index.css">
</head>

<body>
    <!-- 全局顶部导航栏 -->
    <!-- 标明为导航容器 -->
    <nav class="nav_fix_top" role="navigation">
        <div class="width-limit">
            <!-- 左上方 logo -->
            <a class="logo" target="_self" href="">
                <img src="images/PicShare.png" title="主页">
            </a>

            <!-- 右上角 -->
            <!-- 注销 -->
            <a class="btn logout" href="/logout">注销</a>
            <!-- 隐形块 -->
            <div class="invisiblebtn"></div>

            <!--<a class="userLogoLink" id="userLogoLink" href="profile">-->
            <!--<img class="userLogo" id="userLogo" title="个人信息">-->
            <!--</a>-->

            <!--下拉菜单-->
            <div class="div_lis" id="div_lis">
                <ul>
                    <li>
                        <a class="userLogoLink" id="userLogoLink" href="#">
                            <img class="userLogo" id="userLogo" src="<%=userLogo%>">
                        </a>
                        <div id="a_div">
                            <a href="profile">个人信息</a>
                            <a href="followList">关注列表</a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="div_frag_container">
                <a class="frag fragUnactive" id="fragFind" href="indexFind">发现</a>
                <a class="frag fragActive" id="" href="#">好友</a>
                <a class="frag fragUnactive" id="fragMine" href="indexMine">我的</a>
            </div>

            <div class="div_search_container">
                <form role="form" accept-charset="UTF-8" method="get" onsubmit="return false">
                    <input class="search_input" id="searchInput" type="text"
                           name="keyWord" placeholder="搜索"/>
                    <input class="search_btn" id="searchLogo"
                           type="submit" value="🔍"/>
                </form>
            </div>
        </div>
    </nav>

    <div class="coolBackground" id="coolBackgroundDiv">
        <canvas id="display" style="position: fixed"></canvas>
        <div id="blachole" style="position: fixed"></div>

        <!-- 照片墙主体部分 -->
        <div class="imgContainer" id="imageShow">
            <div class="imageBox" id="imageBox">
            </div>
        </div>

        <!-- 搜索照片结果展示部分 -->
        <div class="imgContainer" style="display: none" id="searchImageShow">
            <div class="KeyWordLabel">
                <button class="backToMyImageBtn uploadBtn" id="searchBackToMyImageBtn">返回</button>
                <input class="searchKeyWord" type="text" id="searchKeyWord" readonly/>
                <h2>搜索结果</h2>
            </div>
            <div class="imageBox" id="searchImageBox">
            </div>
        </div>
    </div>

    <script src="javascripts/md5.min.js"></script>
    <script src="javascripts/jquery/jquery-3.2.1.js"></script>
    <script src="javascripts/index/constellation.js"></script>

    <!-- 初始化界面，获得用户头像和数据库图片-->
    <script src="javascripts/index/indexFollow/initializePage.js"></script>

    <!-- 按钮动作监听 -->
    <script src="javascripts/index/indexFollow/btnClickListener.js"></script>

    <!-- 炫酷的背景 -->
    <script src="javascripts/index/coolBackground.js"></script>

    <!-- 用户信息下拉菜单 -->
    <script src="javascripts/index/logoShowInfo.js"></script>

</body>

</html>
