<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>PicShare</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/index/index.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/jquery/jquery-ui.min.css">
</head>

<body>
    <!-- 全局顶部导航栏 -->
    <!-- 标明为导航容器 -->
    <nav class="nav_fix_top" role="navigation">
        <div class="width-limit">
            <!-- 左上方 logo -->
            <a class="logo" target="_self" href="">
                <img src="images/PicShare.png" title="主页">
            </a>

            <!-- 右上角 -->
            <!-- 注销 -->
            <a class="btn logout" href="/logout">注销</a>

            <button class="btn logout" id="uploadPictureBtn">上传图片</button>

            <!--下拉菜单-->
            <div class="div_lis" id="div_lis">
                <ul>
                    <li>
                        <a class="userLogoLink" id="userLogoLink" href="#">
                            <img class="userLogo" id="userLogo">
                        </a>
                        <div id="a_div">
                            <a href="profile">个人信息</a>
                            <a href="followList">关注列表</a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="div_frag_container">
                <a class="frag fragUnactive" id="fragFind" href="indexFind">发现</a>
                <a class="frag fragUnactive" id="" href="indexFollow">好友</a>
                <a class="frag fragActive" id="fragMine" href="#">我的</a>
            </div>

            <div class="div_search_container">
                <form role="form" accept-charset="UTF-8" method="get" onsubmit="return false">
                    <input class="search_input" id="searchInput" type="text"
                           name="keyWord" placeholder="搜索"/>
                    <input class="search_btn" id="searchLogo"
                           type="submit" value="🔍"/>
                </form>
            </div>
        </div>
    </nav>

    <!-- 照片墙主体部分 -->
    <div class="coolBackground" id="coolBackgroundDiv">
        <canvas id="display" style="position: fixed"></canvas>
        <div id="blachole" style="position: fixed"></div>

        <!-- 照片墙主体部分 -->
        <div class="imgContainer" id="imageShow">
            <div class="imageBox" id="imageBox">
            </div>
        </div>

        <!-- 搜索照片结果展示部分 -->
        <div class="imgContainer" style="display: none" id="searchImageShow">
            <div class="KeyWordLabel">
                <input class="searchKeyWord" type="text" id="searchKeyWord" readonly/>
                <h2>搜索结果</h2>
            </div>
            <div class="imageBox" id="searchImageBox">
            </div>
        </div>

        <!-- 上传图片部分 -->
        <div class="imgContainer" style="display: none" id="uploadImageShow">
            <div class="imageBox" id="uploadImageBox">
                <div style="display: inline-block; margin: 5px; width:100%;">
                    <button class="backToMyImageBtn uploadBtn" id="uploadBackToMyImageBtn">返回</button>
                    <input type="file" name="imageUpload" id="imageUpload"
                           accept="image/jpeg,image/jpg,image/png" onchange="setImagePreview()">
                    <input type="submit" class="uploadBtn" id="imageUploadSubmit">
                </div>
                <div style="display: inline-block; margin: 5px; width:100%;">
                    <h3 id="uploadResultShow" style="display: none"></h3>
                </div>
            </div>
            <div class="imageBox" style="text-align: center;display: none" id="uploadImagePreviewDIv">
                <img id="uploadImagePreview" src="" width="110px" height="110px"
                     style="display: inline-block;padding: 5px;border:1px solid #fff" />
            </div>
        </div>
    </div>

    <script src="javascripts/md5.min.js"></script>
    <script src="javascripts/jquery/jquery-3.2.1.js"></script>
    <script src="javascripts/jquery/jquery-ui.min.js"></script>
    <script src="javascripts/index/constellation.js"></script>

    <!-- 初始化界面 -->
    <script>
        // 初始化界面，获得用户头像和数据库图片
        $(function () {
            $.get('userLogo', function (data) {
                $("#userLogo").attr("src", data.userLogo);
            });
            $.get('myImages', function (data) {
                if (data) {
                    var imgPaths = $.parseJSON( data );
                    if( data==="none" ){
                        var divImg = "<h2>你还未上传图片。。。</h2>";
                        $("#imageBox").append(divImg);
                    }
                    else{
                        for (var i = 0; i < imgPaths.length; i++) {
                            var imgPath = imgPaths[i];
                            if ( imgPath.imgPath ) {
                                var divImg = "<div class='imgList' id='findMy-"+ imgPath.imgID +"'>" +
                                    "<img src='" + imgPath.imgPath + "'/>" +
                                    "<input class='CommonInput LeftInput' value='❤️ " + imgPath.likeNum + "' readonly/>" +
                                    "<button id='findMyBtn-"+ imgPath.imgID +"' class='delBtn' onclick='deleteImage(this)'>删除</button>" +
                                    "</div>";
                                $("#imageBox").append(divImg);
                            }
                        }
                    }
                }
                else {
                    var divImg = "<h2>抱歉，未拿到图片。。。</h2>";
                    $("#imageBox").append(divImg);
                }
            });
            $("#coolBackgroundDiv").css("min-height", $(window).height());
        });

        function deleteImage(obj) {
            var temp1 = $(obj).attr('id');
            var temp2 = temp1.split('-');
            var IDValue = temp2[1];
            var data = {"imgID": IDValue};
            $.post('delMyImage', data, function (res) {
                var result = $.parseJSON( res );
                if( result.status ){
                    $("#findMy-"+IDValue).remove();
                }
                else {
                    alert('抱歉，删除失败。。。');
                }
            })
        }
    </script>

    <!-- 按钮动作监听 -->
    <script>
        $("#searchLogo").click(function () {
            $("#searchImageBox").empty();
            var keyWord = $("#searchInput").val().toString();
            if( keyWord!==undefined && keyWord.length>0 ){
                var data = {"keyWord": keyWord};
                $.post('searchMyImage', data, function (data) {
                    if (data) {
                        var imgInfos = $.parseJSON( data );
                        $("#imageShow").hide();
                        $("#searchImageShow").show();
                        $("#uploadImageShow").hide();
                        for (var i = 0; i < imgInfos.length; i++) {
                            var imgInfo = imgInfos[i];
                            if ( imgInfo.imgPath ) {
                                var divImg = "<div class='imgList'><img src='" + imgInfo.imgPath + "'/></div>";
                                $("#searchImageBox").append(divImg);
                            }
                        }
                    }
                });
            }
            $("#searchInput").val("");
            $("#searchKeyWord").val(keyWord);
        });

        $("#uploadPictureBtn").click(function () {
            $("#imageShow").hide();
            $("#searchImageShow").hide();
            $("#uploadImageShow").show();
            $("#progressBar").css("display", "block");
        });
        $("#imageUploadSubmit").click(function () {
            var imageUpload = document.getElementById("imageUpload");
            if( imageUpload.files.length>0 ) {
                var myImage = new FormData();
                // fileInputElement中已经包含了用户所选择的文件
                myImage.append("imageUpload", imageUpload.files[0]);

                $.ajax({
                    type: 'post',
                    url: 'uploadImage',
                    data: myImage,
                    cache: false,
                    // 当有文件要上传时，此项是必须的，否则后台无法识别文件流的起始位置(详见：https://segmentfault.com/a/1190000007207128)
                    contentType: false,
                    // 是否序列化data属性，默认true(注意：false时type必须是post，详见：https://zhidao.baidu.com/question/1926250710050869147.html?qbl=relate_question_0&word=processData)
                    processData: false,
                    success: function(res) {
                        var result = $.parseJSON( res );
                        if( result.status ){
                            var divImg = "<div class='imgList'><img src='" + result.imgPath + "'/></div>";
                            $("#imageBox").append(divImg);
                        }
                        $('#uploadResultShow').show();
                        $('#uploadResultShow').css("color", "#ea6f5a");
                        $('#uploadResultShow').text( result.message );
                    }
                })
            }
        });

        $("#uploadBackToMyImageBtn").click(function () {
            $("#imageShow").show();
            $("#uploadImageShow").hide();
        });

        $("#searchBackToMyImageBtn").click(function () {
            $("#searchImageBox").empty();
            $("#imageShow").show();
            $("#searchImageShow").hide();
        });

        function setImagePreview() {
            var docObj = document.getElementById("imageUpload");
            var imgObjPreview = document.getElementById("uploadImagePreview");

            if (docObj.files && docObj.files[0]) {
                $("#uploadImagePreviewDIv").show();
                $('#uploadResultShow').hide();
                //imgObjPreview.src = docObj.files[0].getAsDataURL();
                //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
                imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
            }
            else{
                $("#uploadImagePreviewDIv").hide();
            }
        }
    </script>

    <!-- 炫酷的背景 -->
    <script src="javascripts/index/coolBackground.js"></script>

    <!-- 用户信息下拉菜单 -->
    <script src="javascripts/index/logoShowInfo.js"></script>
</body>

</html>
