<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>PicShare</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/demo.css">
</head>

<body>
	<!-- 全局顶部导航栏 -->
    <!-- 标明为导航容器 -->
    <nav class="nav_fix_top" role="navigation">
        <div class="width-limit">
			<!-- 左上方 logo -->
			<a class="logo" target="_self" href="index">
				<img src="images/PicShare.png" title="主页">
			</a>

			<!-- 右上角 -->
			<!-- 注销 -->
			<a class="btn logout" href="/logout">注销</a>
            <!-- 隐形块 -->
			<div class="invisiblebtn"></div>
            <a class="userLogoLink" id="userLogoLink" href="profile">
                <img class="userLogo" id="userLogo" title="个人信息">
            </a>
			<!--<a class="btn sign_in" href="/signIn">登录</a>-->

			<div class="container">
                <form target="_blank" action="" accept-charset="UTF-8" method="get">
                    <input name="utf8" type="hidden" />
                    <input class="search_input" id="searchInput" type="text" autocomplete="off" placeholder="搜索" />
                    <a class="search_btn" id="searchLogo" style="display: none" href="javascript:void(null)">
                        <img src="images/searchLogo.png" width="28px" height="28px">
                    </a>
                </form>
			</div>
		</div>
	</nav>

    <!-- 照片墙主体部分 -->
    <div class="demoContainer">
        <img src="images/mm1.jpg" class="pic1"  />
        <img src="images/mm2.jpg" class="pic2"  />
        <img src="images/mm3.jpg" class="pic3"  />
        <img src="images/mm4.jpg" class="pic4"  />
        <img src="images/mm5.jpg" class="pic5"  />
        <img src="images/mm6.jpg" class="pic6"  />
        <img src="images/mm7.jpg" class="pic7"  />
        <img src="images/mm8.jpg" class="pic8"  />
        <img src="images/mm9.jpg" class="pic9"  />
        <img src="images/mm10.jpg" class="pic10"  />
    </div>

    <!--<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="javascripts/md5.min.js"></script>
    <script src="javascripts/jquery-3.2.1.js"></script>
    <script>
        $("#searchInput").focusin(function () {
            $("#searchLogo").show();
        });
        $("#searchInput").focusout(function () {
            $("#searchLogo").hide();
        });
        $(function () {
            $.get('userLogo', function (data) {
                $("#userLogo").attr("src", data.userLogo);
            })
        });
    </script>
</body>

</html>
