<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>PicShare Sign Up</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/sign.css">
</head>

<body>
	<div class="sign">
		<div class="logo">
			<!-- 返回主页 -->
			<a href="index">
				<img src="images/PicShare.png">
			</a>
		</div>

		<div class="main">
			<h4 class="title">
				<div id="aSignUp">
					<a href="signIn">登录</a>
					<b>·</b>
					<a class="active" href="signUp">注册</a>
				</div>
                <div id="aShowID" style="display: none">
                    <a class="active">你的帐号</a>
                </div>
			</h4>

			<div class="sign_up_container">
				<form role="form" id="signUpForm" accept-charset="utf-8" method="post" onsubmit="return false">
					<!-- 昵称 -->
                    <input class="input_prepend input_up_prepend" placeholder="请输入昵称"
                           type="text" name="userName" id="userName" required/>

					<!-- 手机号 -->
                    <input class="input_prepend input_middle_prepend" placeholder="请输入邮箱"
                           type="email" name="userEmail" id="userEmail" required/>

					<!-- 登录密码输入框 -->
                    <input class="input_prepend input_middle_prepend" placeholder="请输入密码"
                           type="password" name="userPassword" id="userPassword" required/>
                    <input class="input_prepend input_down_prepend" placeholder="请再次输入密码"
                           type="password" name="userPasswordAgain" id="userPasswordAgain" required/>

					<!-- 注册 -->
					<input type="submit" id="signUpSubmit" name="signUpSubmit" value="注册" class="sign_button" />
				</form>
                <form action="signIn" id="showIDForm" accept-charset="utf-8" method="get" style="display: none">
                    <input class="input_prepend" style="margin-bottom: 50px;padding: 0;text-align: center;"
                           type="text" id="userIDShow" readonly />
                    <input type="submit" id="goToSignIn" value="已铭记账号" class="sign_button"/>
                </form>
			</div>
		</div>
	</div>

    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
    <!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="javascripts/jquery-3.2.1.js"></script>
    <script>
        $(function () {
            $("#signUpSubmit").click(function () {
                var userPassword = $("#userPassword").val().toString();
                var userPasswordAgain = $("#userPasswordAgain").val().toString();
                if( (userPassword.length===0) ||(userPassword !== userPasswordAgain) ){
                    $("#userPassword").css("border","1px solid red");
                    $("#userPasswordAgain").css("border","1px solid red");
                }
                else if( userPassword === userPasswordAgain ){
                    var userName = $("#userName").val().toString();
                    var userEmail = $("#userEmail").val().toString();
                    var passwordHash = md5(userPassword);

                    var data = {"userName":userName, "userEmail":userEmail, "userPassword":passwordHash};
                    $.post('signUp', data, function (data) {
                        if( data.status ){
                            $("#aSignUp").hide();
                            $("#signUpForm").hide();
                            $("#aShowID").show();
                            $("#showIDForm").show();
                            $("#userIDShow").val(data.uid);
                        }
                    });
                }
            });
        });
    </script>
</body>

</html>
