<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>PicShare Sign In</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/sign.css">
</head>

<body>
	<div class="sign">
		<div class="logo">
			<!-- 返回主页 -->
			<a href="index">
				<img src="images/PicShare.png">
			</a>
		</div>

		<div class="main">
			<h4 class="title">
				<div id="aSign">
					<a class="active" href="signIn">登录</a>
					<b>·</b>
					<a href="signUp">注册</a>
				</div>
                <div id="aShowStatus" style="display: none">
                    <a class="active">登陆情况</a>
                </div>
			</h4>

			<div>
				<form role="form" id="signInForm" accept-charset="utf-8" method="post" onsubmit="return false">
					<!-- 登录名输入框 -->
                    <input class="input_prepend input_up_prepend" placeholder="帐号"
                           type="text" name="userID" id="userID" required/>

					<!-- 登录密码输入框 -->
                    <input class="input_prepend input_down_prepend" placeholder="密码"
                           type="password" name="userPassword" id="userPassword" required/>

					<!-- 登录 -->
					<input type="submit" id="signInSubmit" name="signInSubmit" value="登录" class="sign_button" />
				</form>
                <div id="showStatusDiv" style="display: none">
                    <input class="input_prepend" style="margin-bottom: 50px;padding: 0;text-align: center;"
                           type="text" id="signInStatusShow" readonly />
                    <a href="index" id="goToIndex">
                        <input type="submit" id="goToIndexBtn" class="sign_button"/>
                    </a>
                </div>
			</div>
		</div>
	</div>

	<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
	<!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
	<script src="javascripts/jquery-3.2.1.js"></script>
	<script>
        $(function () {
            $("#signInSubmit").click(function () {
                var IDReady = true;
                var passwordReady = true;

				var userID = $("#userID").val().toString();
				var userPassword = $("#userPassword").val().toString();

				if( userID===undefined || userID.length===0 ){
				    $("#userID").css("border","1px solid red");
                    IDReady = false;
                }
                else {
                    $("#userID").css("border","1px solid #c8c8c8");
                    IDReady = true;
                }
                if( userPassword===undefined || userPassword.length===0 ){
                    $("#userPassword").css("border","1px solid red");
                    passwordReady = false;
                }
                else {
                    $("#userPassword").css("border","1px solid #c8c8c8");
                    passwordReady = true;
                }
                if( IDReady && passwordReady ) {
                    var passwordHash = md5(userPassword);

                    var data = {"userID": userID, "userPassword": passwordHash};
                    $.post('signIn', data, function (res) {
                        $("#aSign").hide();
                        $("#signInForm").hide();
                        $("#aShowStatus").show();
                        $("#showStatusDiv").show();
                        if (res.status) {
                            $("#signInStatusShow").val("恭喜登陆成功");
                            $("#goToIndexBtn").val("开启探索之旅");
                            $("#goToIndex").attr("href", "index");
                        }
                        else {
                            $("#signInStatusShow").val("登陆失败");
                            $("#goToIndexBtn").val("重新登陆");
                            $("#goToIndex").attr("href", "signIn");
                        }
                    });
                }
            });
        });
	</script>

</body>

</html>
