.basic_set {
	margin-left: 25%;
	margin-right: 25%;

	position: relative;
}
.basic_set textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 250px;
	max-height: 360px;

	background: #C7EDCC;

	font-family: "San Francisco", "Verdana", "宋体", "Arial"; 
	font-size: 14px; 
	text-align: left;
	overflow: scroll;

	border: #00BFFF 2px solid;
	border-radius:5px;
}
.basic_set .inputText {
	
}
.basic_set .run {
	background: #E27575;

	border: none;
	padding: 8px 23px 8px 23px;

	box-shadow: 1px 1px 5px #B6B6B6; 
	border-radius: 3px;

	color: #FFF;
	font-size: 13px;
	text-shadow: 1px 1px 1px #9E3F3F;
	cursor: pointer;
	
	position: absolute;
	top: 0px;
	left: 105%;
}
.basic_set .run:hover {
	background: #CF7A7A;
}
	