
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>

    <link rel="stylesheet" href="css/bootstrap/4.0.0/bootstrap.min.css">

    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/common.css">
</head>

<body style="background-color: #f1f1f1">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-5 col-sm-12">
                <div class="logo text-center">
                    <!-- 返回主页 -->
                    <a target="_self" href="">
                        <img src="images/PicShare.png" class="rounded">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12" style="max-width: 420px">
                <div class="main">
                    <ul class="nav nav-fill">
                        <li class="nav-item">
                            <a class="btn btn-block my-active text" href="/login">登录</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-block btn-outline-primary my-inactive text" href="/signUp">注册</a>
                        </li>
                    </ul>
                    
                    <div class="width-100-pct height-40 visibility-hidden"></div>

                    <form role="form" id="signInForm" accept-charset="utf-8" method="post" onsubmit="return false">
                        <div class="form-group">
                            <input type="text" class="form-control text" id="account" placeholder="账号">
                            <small class="form-text text-muted font-10">&nbsp;</small>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control text" id="password" placeholder="密码">
                            <small class="form-text text-muted font-10">&nbsp;</small>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block text hover-cursor-pointer" id="signInSubmit">登录</button>
                    </form>
                </div>
            </div>
        </div><!-- row -->
    </div>

    <script src="js/other/md5.min.js"></script>
	<script src="js/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/bootstrap/4.0.0/bootstrap.min.js"></script>
    <script src="js/vue/2.5.16/vue.js"></script>

    <script>

    </script>
    <!-- 按钮动作监听 -->
    <script>
        $("#signInSubmit").click(function () {
            var accountReady = true;
            var passwordReady = true;

            var account = $("#account").val().toString();
            var password = $("#password").val().toString();

            if( account===undefined || account.length===0 ){
                $("#account").css("border","1px solid red");
                accountReady = false;
            }
            else {
                $("#account").css("border","1px solid #c8c8c8");
                accountReady = true;
            }
            if( password===undefined || password.length===0 ){
                $("#password").css("border","1px solid red");
                passwordReady = false;
            }
            else {
                $("#password").css("border","1px solid #c8c8c8");
                passwordReady = true;
            }
            if( accountReady && passwordReady ) {
                var passwordHash = md5(password);
                var data = {"account": account, "password": passwordHash};
                $.post('login', data, function (res) {
                    $("#aSign").hide();
                    $("#signInForm").hide();
                    $("#aShowStatus").show();
                    $("#showStatusDiv").show();
                    var result = $.parseJSON( res );
                    if (result.status) {
                        $("#signInStatusShow").val("恭喜登陆成功");
                        $("#goToIndexBtn").val("开启探索之旅");
                        $("#goToIndex").attr("href", "indexFind");
                    }
                    else {
                        $("#signInStatusShow").val("登陆失败");
                        $("#goToIndexBtn").val("重新登陆");
                        $("#goToIndex").attr("href", "signIn");
                    }
                });
            }
        });
    </script>

</body>

</html>
