<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/index/index.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/info/followList/followList.css">
</head>
<body>
    <!-- 全局顶部导航栏 -->
    <!-- 标明为导航容器 -->
    <nav class="nav_fix_top" role="navigation">
        <div class="width-limit">
            <!-- 左上方 logo -->
            <a class="logo" target="_self" href="indexFind">
                <img src="images/PicShare.png" title="主页">
            </a>

            <!-- 右上角 -->
            <!-- 注销 -->
            <a class="btn logout" href="/logout">注销</a>
            <!-- 隐形块 -->
            <div class="invisiblebtn"></div>

            <!--下拉菜单-->
            <div class="div_lis" id="div_lis">
                <ul>
                    <li>
                        <a class="userLogoLink" id="userLogoLink" href="#">
                            <img class="userLogo" id="userLogo" src="<%=userLogo%>">
                        </a>
                        <div id="a_div" class="a_div">
                            <a href="profile">个人信息</a>
                            <a href="#">关注列表</a>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- 隐形块 -->
            <div class="invisiblebtn"></div>

            <!-- 搜索用户 -->
            <div class="div_search_container">
                <form role="form" accept-charset="UTF-8" method="get" onsubmit="return false">
                    <input class="search_input" id="searchInput" type="text"
                           name="keyWord" placeholder="搜索用户"/>
                    <input class="search_btn" id="searchLogo"
                           type="submit" value="🔍"/>
                </form>
            </div>

            <input class="btn tellInput" id="tellInput" value="关注列表" disabled readonly />

        </div>
    </nav>

    <!-- ----------------------- 导航栏以下 ----------------------- -->

    <div class="coolBackground" id="coolBackgroundDiv">
        <canvas id="display" style="position: fixed"></canvas>
        <div id="blachole" style="position: fixed"></div>

        <div class="profile_page" id="followListInfoShow">
            <div class="main" id="followMain">
                <div class="info_frag">
                    <input class="inputCommon IDInput" value="账号" readonly>
                    <input class="inputCommon nameInput" value="昵称" readonly>
                    <input class="inputCommon emailInput" value="邮箱" readonly>
                    <input class="inputCommon groupInput" value="分组" readonly>
                    <button class="inputCommon unFollowBtn" id="noFollowTell" style="visibility: hidden;" disabled></button>
                </div>
            </div>
        </div>

        <div class="profile_page" style="display: none" id="searchFollowListInfoShow">
            <button class="backToFollowListBtn" id="searchBackToFollowListBtn">返回</button>
            <div class="main" id="searchFollowMain">
                <!--<div class="info_frag">-->
                    <!--<input class="inputCommon IDInput" value="账号" readonly>-->
                    <!--<input class="inputCommon nameInput" value="昵称" readonly>-->
                    <!--<input class="inputCommon emailInput" value="邮箱" readonly>-->
                    <!--<input class="inputCommon groupInput" value="分组" readonly>-->
                    <!--<button class="inputCommon unFollowBtn" style="visibility: hidden;" disabled></button>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <script src="javascripts/jquery/jquery-3.2.1.js"></script>
    <script src="javascripts/index/constellation.js"></script>

    <!-- 初始化界面 -->
    <script src="javascripts/info/followList/initializePage.js"></script>

    <!-- 按钮动作监听 -->
    <script src="javascripts/info/followList/btnClickListener.js"></script>

    <!-- 炫酷的背景 -->
    <script src="javascripts/index/coolBackground.js"></script>

    <!-- 用户信息下拉菜单 -->
    <script src="javascripts/index/logoShowInfo.js"></script>
</body>
</html>