html, body {
    height: 100%;
}

body {
    padding: 0!important;
    margin: 0!important;

    min-width: 768px;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    font-size: 17px;
}

div {
    display: block;
}

a {
    cursor: pointer;
    background-color: transparent;
    color: #337ab7;
    text-decoration: none;
}

input{
    line-height: inherit;

    font: inherit;
    margin: 0;

    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: auto;

    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}

.div_log_fix{
    position: fixed;
    display: block;
    top: 20%;
    left: 80px;
    text-align: center;
    width: 200px;
    height: 300px;
    background: transparent;
}

.div_log_fix .userBigLogo{
    width: 150px;
    height: 150px;
    border: 1px solid #c8c8c8;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
}

.div_log_fix .changeLogoBtn{
    font-family: Georgia,Times New Roman,Times,Songti SC,serif;
    width: 120px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ffbf41;
    border-radius: 25px;
    color: #ffbf41;
    background: transparent;
    cursor: pointer;
    margin-top: 15px;
}

.div_log_fix .changeLogoBtn:hover{
    background: #c1f7ff;
}

.div_btn_fix{
    position: fixed;
    display: block;
    top: 40%;
    right: 80px;
    text-align: center;
    width: 200px;
    height: 300px;
    background: transparent;
}

.div_btn_fix button{
    font-family: Georgia,Times New Roman,Times,Songti SC,serif;
    width: 120px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ffbf41;
    border-radius: 25px;
    color: #ffbf41;
    background: transparent;
    cursor: pointer;
    margin-top: 15px;
}

.div_log_fix button:hover{
    background: #c1f7ff;
}

.profile_page {
    margin-top: 10px;
    height: 100%;
    min-height: 750px;
    text-align: center;
    font-size: 14px;
}

.profile_page .main {
    width: 55%;
    min-width: 450px;
    margin: 60px auto 0;
    padding: 50px 50px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    vertical-align: middle;
    display: inline-block;
}

.profile_page .main .info_frag{
    background: transparent;
    margin: 15px 30px;
    border-bottom: 1px solid #eaeaea;
}

.profile_page .info_frag .info_common{
    font-family: Georgia,Times New Roman,Times,Songti SC,serif;
    position: relative;
    margin: 15px 25px;
}

.profile_page .info_frag label{
    text-align: center;
    font-size: 20px;
    width: 160px;
    height: 35px;
    background: transparent;
}

.profile_page .info_frag input{
    text-align: left;
    font-size: 20px;
    width: 250px;
    height: 35px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    background-color: hsla(0, 0%, 71%, .1);
    padding: 0 10px;
}

.profile_page .info_frag textarea{
    font-size: 20px;
    width: 200px;
    height: 35px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    background-color: hsla(0, 0%, 71%, .1);
    padding: 0 8px 6px;
}

.profile_page .main .info_frag button{
    font-family: Georgia,Times New Roman,Times,Songti SC,serif;
    text-align: center;
    height: 35px;
    width: 120px;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
}

.profile_page .main .changeInfoBtn{
    border: 1px solid #00B7FF;
    color: #fff;
    background: #00B7FF;
}

.profile_page .main .changeInfoBtn:hover{
    background: #04a7ff;
}

.profile_page .main .submitInfoBtn{
    border: 1px solid #2aff00;
    color: #fff;
    background: #2aff00;
}

.profile_page .main .submitInfoBtn:hover{
    background: #11ff00;
}