<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>PicShare</title>
	<link rel="stylesheet" type="text/css" href="../style/index.css">
	<link rel="stylesheet" type="text/css" href="./style/index.css">
	<link rel="stylesheet" type="text/css" href="./index.css">
</head>

<body>
	<!-- 全局顶部导航栏 -->
	<nav class="navbar navbar_default navbar_fix_top" role="navigation">
		<div class="width_limit">
			<!-- 左上方 logo -->
			<a class="logo" target="_self" href="index.html">
			<!-- <img src="./image/PicShare.png"> -->
				<img src="../image/PicShare.png">
			</a>

			<!-- 右上角 -->
			<!-- 隐形块 -->
			<div class="invisiblebtn"></div>
			<!-- 未登录显示 登录/注册 -->
			<a class="btn sign_up" href="./sign_up.html">注册</a>
			<a class="btn sign_in" href="./sign_in.html">登录</a>
		</div>

	</nav>

</body>

</html>
